@page
@model IndexModel
@using global::WebTest.Models
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to a test website made to learn about JS and C#</h1>
    <p>Here is good start to learn: <a href="https://docs.microsoft.com/aspnet/core"> building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="card-columns">
@foreach (User user in Model.users)
{
    <div class="card">
        <div style="background:red">
            <div class="card-body" style="radius:1px">
                <h1><a href="/user/@user.Username">@@@user.Username</a></h1>
            </div>
        </div>
    </div>
}
</div>